<div class="col s12">
    <div class="row">
        <div *ngIf="!newUser" class="card-center">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">Connexion</span>
                    <form #authForm="ngForm" (ngSubmit)="login(authForm.value)">
                        <div class="input-field col s6">
                            <input ngModel id="name" name="name" type="text" class="validate" required>
                            <label for="name">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input ngModel id="password" name="password" type="password" class="validate" required>
                            <label for="password">Mot de passe</label>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect waves-light red" type="submit" [disabled]="!authForm.form.valid">valider</button>
                        </div>
                    </form>
                </div>
                <div class="card-action center-align">
                    <a (click)="newUser = true">Nouveau client ?</a>
                    <a routerLink="/home">Home</a>
                </div>
            </div>
        </div>

        <div *ngIf="newUser" class="card-center">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">Inscription</span>
                    <form (ngSubmit)="addLogin($event)">
                        <div class="input-field col s6">
                            <input id="newName" name="name" [(ngModel)]="name" type="text" class="validate">
                            <label for="newName">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="newPassword" name="password" [(ngModel)]="password" type="password" class="validate">
                            <label for="newPassword">Mot de passe</label>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect waves-light red" type="submit">valider</button>
                        </div>
                    </form>
                </div>
                <div class="card-action center-align">
                    <a (click)="newUser = !newUser">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>